<ion-segment [(ngModel)]="activeTab">
  <ion-segment-button value="pipeline">Pipeline</ion-segment-button>
  <ion-segment-button value="evaluation">Evaluation</ion-segment-button>
  <ion-segment-button value="logs">Experiment Logs</ion-segment-button>
  <ion-segment-button value="run-pipeline">Run Pipeline</ion-segment-button>
  <ion-segment-button value="builder">Model Builder</ion-segment-button>
</ion-segment>

<ng-container [ngSwitch]="activeTab">
  <app-pipeline-view *ngSwitchCase="'pipeline'" [experimentId]="selectedExperimentId"></app-pipeline-view>
  <app-model-evaluation *ngSwitchCase="'evaluation'" [experimentId]="selectedExperimentId"></app-model-evaluation>
  <app-experiment-logs *ngSwitchCase="'logs'" (selectExperiment)="selectedExperimentId = $event"></app-experiment-logs>
  <app-run-pipeline *ngSwitchCase="'run-pipeline'"></app-run-pipeline>
  <app-model-builder *ngSwitchCase="'builder'"></app-model-builder>
</ng-container>
