<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="transliteration" href="/tabs/transliteration">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>Transliterate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard" href="/tabs/leaderboard">
      <ion-icon aria-hidden="true" name="trophy-outline"></ion-icon>
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="baybayin-info" href="/tabs/baybayin-info">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Baybayin Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quests" href="/tabs/quests">
      <ion-icon aria-hidden="true" name="flame-outline"></ion-icon>
      <ion-label>Quests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
